body {
  margin: 2%;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  background-color: white;
  color: black;

  grid-template-columns: 20% 70%;
  grid-template-areas:
    'sidebar content';
}

.sidebar {
  background-color: LightGray;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
  font-family: Helvetica (sans-serif);
}


